@use '../settings' as s;

@layer project {
  /*
  .p-skill {
    background: s.colorRgba(black, 1);
    color: s.colorRgba(white, 1);
    &__heading {
      @include s.textKerning(-10);
      margin: 0;
      line-height: 1;
      font-size: s.fontSize(96);
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      transition: s.$base-animation;
      // text-box: trim-both cap alphabetic;
      & > span {
        @include s.font-adjust__n20();
      }
    }
    // header {
    //   position: sticky;
    //   top: 0;
    //   container-type: scroll-state;
    // }
  }

  @container scroll-state(stuck: top) {
    .p-skill__heading {
      font-size: s.fontSize(32);
    }
  }

  .p-skill-set {
    &__list {
      @include s.listBasic();
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 32px 0;
    }
    &__list-item {
      flex: 0 0 calc(100% / 3);
      &:last-child {
        align-self: center;
      }
    }
    &__figure-icon {
      max-height: 96px;
    }
    &__figure-caption {
      font-size: s.fontSize(32);
      font-weight: 400;
    }
  }

  .p-skill-point {
    // @include s.textKerning(0);
    margin: 0;
    font-size: s.fontSize(16);
    text-align: center;
    & > span {
      display: block;
      font-weight: 100;
    }
    &__level-eval-bar {
      @include s.progressInit(75%, 24px);
      vertical-align: middle;
    }
    &__level-eval {
      // @include s.textKerning(0);
      margin: 0;
      font-size: s.fontSize(16);
      font-weight: 100;
    }
    &__level-exp {
      // @include s.textKerning(0);
      margin: 0;
      font-size: s.fontSize(16);
      font-weight: 100;
      text-align: center;
    }
    &__relation-heading {
      // @include s.textKerning(0);
      margin: 0;
      font-size: s.fontSize(16);
      font-weight: 100;
      text-align: center;
    }
    &__relation-list {
      @include s.listBasic();
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__relation-list-item {
      // @include s.textKerning(0);
      font-size: s.fontSize(16);
      font-weight: 400;
    }
  } */
}
