:root {
  --color-text-primary: #fff;
  --color-background: #212121;
  --font-size56: 3.5rem;
  --font-size36: 2.25rem;
  --font-size28: 1.75rem;
  --font-size20: 1.25rem;
  --font-size18: 1.125rem;
  --font-size16: 1rem;
  --font-size14: 0.875rem;
  --font-size12: 0.75rem;
  --font-size10: 0.625rem;
  --size-content_large: 1920px;
  --size-content: 1280px;
  --size-content_small: 640px;
}
