@import "_variable";

html {
  overflow-y: scroll;
}

body {
  background: var(--background-color);
}

.l-root {
  padding: 0 16px;
  background: var(--background-color);
  color: var(--text-color-primary);
  p {
    font-size: var(--font-size-14);
  }
  dl, ol, ul {
    margin: 0;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  dl dt {
    font-weight: normal;
  }
}

.l-header,
.l-main,
.l-footer {
  max-width: 640px;
  margin: 0 auto;
}

.l-footer__navi {
  .c-list__item {
    width: 64px;
  }
  .c-link {
    display: block;
  }
  .c-sns-icon {
    fill: #fff;
  }
}

/* -------------------------------------------------------------------------- */

.c-link {
  &:hover {
    text-decoration: none;
  }
}

/* -------------------------------------------------------------------------- */

.p-page__color {
  ul {
    display: flex;
    flex-flow: row wrap;
  }
  li {
    position: relative;
    width: 64px;
    aspect-ratio: 1.6;
    font-size: 0;
    &:after {
      content: attr(data-text);
      position: absolute;
      inset: 0;
      mix-blend-mode: difference;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: var(--font-size-10);
      text-transform: uppercase;
    }
  }
}

/* -------------------------------------------------------------------------- */
