@import "_variable";

body {
  background: var(--background-color);
  color: var(--text-color-primary);
}

dl, ol, ul {
  margin: 0;
}

ul {
  list-style: none;
}

dl dt {
  font-weight: normal;
}

p {
  font-size: var(--font-size-14);
}

.l-header {
  max-width: 640px;
  margin: 0 auto;
}

.l-main {
  max-width: 640px;
  margin: 0 auto;
}

.l-footer {
  max-width: 640px;
  margin: 0 auto;
}

.l-footer .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
  &:hover svg {
    fill: #24292f;
  }
}
