@charset 'utf-8';

@use '../settings' as s;

@layer utility {
  /* ---- Display ---- */
  .is-show {
    display: block;
  }

  .is-hide {
    display: none;
  }

  .is-active {
    display: block;
  }
}
