@charset 'utf-8';

@use '../settings' as s;

@layer component {
  /* ---- Texture Background ---- */

  /* Home-Bg */
  .c-home-bg {
    position: relative;
    z-index: -1;
    &::after {
      @include s.textureBackground(dot, 0.25);
      content: '';
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100svh;
    }
    .js-homeBgLayer0,
    .js-homeBgLayer1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// background: repeating-linear-gradient(315deg, rgba(0, 0, 0, 0.5) 10% 0, rgba(0, 0, 0, 0.5) 10% 1px, transparent 0,transparent 50%);
// background-size: 10px 10px;
