@use '../settings' as s;

@layer component {
  /* ---- Unique Class Set ---- */
  .root {
    height: 100svh;
    background: s.colorRgba(black, 1);
    color: s.colorRgba(white, 1);
  }

  /* ---- Element Set ---- */
  /*
  .c-list {
    @include s.listStyle(none, inside);
    &__dec {
      @include s.listStyle(decimal, inside);
    }
    &__list-def {
      @include s.listDefinition();
    }
  }

  .c-figure {
    margin: 0;
  }

  .c-image {
    width: 100%;
    vertical-align: middle;
  }

  .c-emphasis {
    font-weight: 400;
    font-style: normal;
  }

  .c-strong {
    font-weight: 700;
  }

  .c-progress {
    appearance: none;
    block-size: 1rem;
    inline-size: 75%;
    &::-webkit-progress-bar {
      border-radius: 4px;
      background: s.colorRgba(white, 1);
    }
    &::-webkit-progress-value {
      border-radius: 4px;
      background: s.colorRgba(light-blue-700, 1);
    }
  }
 */
  /* ---- BETA ---- */
  /*
  .c-text-height {
    text-box: trim-both cap alphabetic; // BETA
  }
  */
}
